<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huliua.classroomcentre.mapper.ClassRoomMapper">

    <select id="pageQuery" resultType="com.huliua.classroomcentre.domain.vo.ClassRoomVo">
        select * from (
        select t_classroom.*, zyxx.zysl occupy_count, capacity - ifnull(zyxx.zysl, 0) as left_count
            from t_classroom
            left join (
                select classroom_id, count(1) as zysl
                from t_classroom_occupy
                group by t_classroom_occupy.classroom_id
            ) zyxx on t_classroom.id = zyxx.classroom_id
        ) as t
        <where>
            ${ew.getSqlSegment()}
        </where>
    </select>
</mapper>